* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:disabled {
  opacity: 0.2;
}
label {
  display: block;
}

.game {
  display: flex;
  flex-direction: row;
}

.hud {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(139, 69, 19);
  color: #fff;
}

.hud p {
  margin-left: 10px;
}

.map {
  width: 70vw;
  height: 100vh;
  background-color: rgb(0, 153, 255);
}

#events {
  display: block;
  background-color: #f3dbbc;
  width: 30vw;
  height: 100vh;
  overflow: hidden;
  color: #473526;
}


#events .events-header {
  margin: 20px 20px 0;
  position: relative;
}

#events .events-header hr {
  background: #473526;
  margin-bottom: 3px;
  border: 0;
}

#events .events-header hr.small {
  height: 2px;
}

#events .events-header hr.big {
  height: 4px;
} 

#events .events-header h1 {
  text-align: center;
  font-size: 48px;
}

#events .events-header #events-year {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 16px;
}

#events .event-details {
  border-bottom: 1px solid #473526;
  margin: 0 10px 10px;
  padding: 10px;
}

#events p.event-title {
  font-size: 30px;
}

#events img.event-img {
  width: 100%;
  margin: 10px 0;
}

#events p.event-desc {
  font-size: 16px;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 30vh;
  background: #f3dbbc;
  background: linear-gradient(
    0deg,
    #f3dbbc 0%,
    #f3dbbc 30%,
    rgba(182, 181, 168, 0) 100%
  );
}
