* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

label {
  margin-right: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.hud {
  top: 0;
  left: 0;
  width: 70vw;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  z-index: 100;
  align-content: space-around;
  justify-content: space-around;
}

#modifiers {
  bottom: 0;
  left: 0;
  position: absolute;
  display: inline-flex;
  align-content: center;
  /* justify-content: center; */
  flex-direction: row;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 70vw;
}

.hud p {
  margin-left: 10px;
}

.map {
  width: 70vw;
  height: 100vh;
  background-color: rgb(0, 15, 53);
  overflow: hidden;
}

.map .bg {
  position: relative;
}

.map .bg img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.map .bg img.bg-first {
  transform: skew(-5deg, -3deg);
  animation: 10s infinite alternate bg-first;
}

.map .bg img.bg-second {
  animation: 10s infinite alternate bg-second;
  transform: skew(5deg, 3deg);
}

@keyframes bg-first {
  from {
    transform: skew(-5deg, -3deg);
  }

  to {
    transform: skew(5deg, 3deg);
  }
}

@keyframes bg-second {
  from {
    transform: skew(5deg, 3deg);
  }

  to {
    transform: skew(-5deg, -3deg);
  }
}

#events {
  display: block;
  background-color: #f3dbbc;
  width: 30vw;
  height: 100vh;
  overflow: hidden;
  color: #473526;
  z-index: 200;
}

#events .events-header {
  margin: 20px 20px 0;
  position: relative;
}

#events .events-header hr {
  background: #473526;
  margin-bottom: 3px;
  border: 0;
}

#events .events-header hr.small {
  height: 2px;
}

#events .events-header hr.big {
  height: 4px;
}

#events .events-header h1 {
  text-align: center;
  font-size: 48px;
}

#events .events-header #events-year {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 16px;
}

#events .event-details {
  border-bottom: 1px solid #473526;
  margin: 0 10px 10px;
  padding: 10px;
}

#events p.event-title {
  font-size: 30px;
}

#events img.event-img {
  width: 100%;
  margin: 10px 0;
}

#events p.event-desc {
  font-size: 16px;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 30vh;
  background: #f3dbbc;
  background: linear-gradient(
    0deg,
    #f3dbbc 0%,
    #f3dbbc 30%,
    rgba(182, 181, 168, 0) 100%
  );
}

.map #map-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.map .bouble {
  display: none;
  cursor: pointer;
  text-align: center;
}

.map .bouble.show {
  font-size: 80px;
  animation: show-money 0.3s ease;
}

.map .bouble.hide {
  font-size: 0px;
  animation: hide-money 0.3s ease;
}

@keyframes show-money {
  0% {
    font-size: 0px;
  }

  65% {
    font-size: 140px;
  }

  100% {
    font-size: 80px;
  }
}

@keyframes hide-money {
  0% {
    font-size: 80px;
  }

  100% {
    font-size: 0px;
  }
}
